$tree: ".file-tree";
$node: "#{$tree}__node";

#{$tree} {
	user-select: none;

	&--insert {
		#{$node}:not(#{$node}--editing) > .bp3-tree-node-content {
			opacity: 0.5;
		}
	}
}

$explorer: ".file-explorer";
$controls: "#{$explorer}__controls";
$treeContainer: "#{$explorer}__tree-container";
$filler: "#{$explorer}__filler";
$moveTarget: "#{$explorer}__move-target";

#{$explorer} {
	height: 100%;

	#{$controls} {
		display: flex;

		height: 30px;
		margin-bottom: 1px;

		justify-content: flex-end;
	}

	#{$treeContainer} {
		display: flex;
		flex-direction: column;

		height: calc(100% - 33px);

		&--selected {
			box-shadow: inset 0 0 0 1px var(--color-accent);
		}

		#{$tree} {
			flex: 1 1 auto;
		}

		#{$filler} {
			flex: 1 1 100%;

			height: 0;
		}
	}
}

#{$moveTarget} {
	display: flex;

	justify-content: space-between;

	span {
		margin-left: 15px;

		opacity: 0.5;

		font-size: 12px;
	}
}
