.node-editor {
	&__content {
		display: flex;

		height: 30px;
		padding: 2px;

		align-items: center;
	}

	&__input {
		width: 100%;
		height: 100%;
	}

	&__popover {
		width: 142px;

		box-shadow: none !important;
	}

	&__renamer {
		margin-left: 4px;

		&.bp3-editable-text-editing {
			margin-right: 6px;
		}
	}
}

.validation-popover {
	padding: 5px;

	border-radius: 3px;
	background-color: var(--color-error);
}

.autocomplete-popover {
	min-width: auto;

	&__item {
		font-size: 16px;

		> span {
			opacity: 0.5;

			font-size: 12px;
			font-style: italic;
		}
	}
}
