$resize-handler-width: 6px;

// TODO: reduce repetition if possible
.resize {
	&__handle {
		position: absolute;

		// background-color: #b92a2a60;

		&--left, &--right {
			top: 0;

			width: $resize-handler-width;
			height: 100%;

			cursor: ew-resize;
		}

		&--top, &--bottom {
			left: 0;

			width: 100%;
			height: $resize-handler-width;

			cursor: ns-resize;
		}

		&--left {
			left: -$resize-handler-width;
		}

		&--right {
			right: -$resize-handler-width;
		}

		&--top {
			top: -$resize-handler-width;
		}

		&--bottom {
			bottom: -$resize-handler-width;
		}

		&--top-left {
			top: -$resize-handler-width;
			left: -$resize-handler-width;

			width: $resize-handler-width;
			height: $resize-handler-width;

			cursor: nwse-resize;
		}

		&--top-right {
			top: -$resize-handler-width;
			right: -$resize-handler-width;

			width: $resize-handler-width;
			height: $resize-handler-width;

			cursor: nesw-resize;
		}

		&--bottom-left {
			bottom: -$resize-handler-width;
			left: -$resize-handler-width;

			width: $resize-handler-width;
			height: $resize-handler-width;

			cursor: nesw-resize;
		}

		&--bottom-right {
			right: -$resize-handler-width;
			bottom: -$resize-handler-width;

			width: $resize-handler-width;
			height: $resize-handler-width;

			cursor: nwse-resize;
		}
	}
}
